#user-menu{
	width: 100%;
	float: left;
	font-size: 16px;
}

#user-menu li{
	margin: 3px;
}

#user-menu li a{
	text-align: center;
	border: 1px solid blue;
	padding: 10px;
	border-radius: 15px;
}

.menuItem li{
	line-height: normal;
}

.center{
	margin: 10px auto;
	display: block;
}